[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/lusty-explorer"]
	path = .vim/bundle/lusty-explorer
	url = https://github.com/vim-scripts/LustyExplorer.git
