[user]
	name = Jez Stephens
	email = jezstephens@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	ss = status -sb
	br = branch
	di = diff
	ds = diff --staged
	pr = pull-request
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	amend = commit --amend
	uncommit = reset --soft HEAD^
	ctags = !.git/hooks/ctags
	edit = !vim `git ls-files -m`
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[push]
	default = upstream
[init]
	templatedir = ~/.git_template
[gui]
	warndetachedcommit = true
[diff]
	compactionHeuristic = true
